.cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
}

.card {
  width: 90%;
  margin: 5% auto;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

img {
  width: 100%;
  margin: auto;
}

h4 {
  text-align: center;
}

h1 {
  text-align: center;
  text-shadow: 0px 4px 5px #7e1515;
  color: #590606;
}